<!DOCTYPE HTML>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width" initial-scale="1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title #{title}
        link(rel="stylesheet" href="/css/main.css")
        link(rel="stylesheet" href="/css/product.css")
    body
        header.main-header
            nav.main-header__nav
                ul.main-header__item-list
                    li.main-header__item
                        a.active(href="/") Shop
                    li.main-header__item
                        a.active(href="/admin/add-product") Add Product
        main
            .grid
                article.card.product-item
                    header.card__header
                        h1.product__title Great Book
                        div.card__image
                        img(src="https://files.porsche.com/filestore/news/international-de/none/530113/headimage1/b1ca9cb9-6b56-11e8-bbc5-0019999cd470/porsche-More-than-20%2C000-prospective-Taycan-buyers.jpg", alt="porsche")
                div.cart__conent
                    h2.product__price $19.99
                    p.product__description Porsche Tycan all electric
                div.card__action
                    button.btn Add to Cart

